.bebas-neue {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-thai {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-weight: 0.9;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/*===========================================================*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/bg_jp.png);
    background-color: #d50000;
}

.container {
    position: relative; /* ทำให้ container เป็นจุดอ้างอิง */
    width: 40rem; /* ความกว้างของบล็อก */
    height: 22.6rem;
    background: #eceff1;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem #eceff1;
}

.head1 {
    color: #ffffff;
    padding:  0px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: none;
    border-radius: 10rem;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: 38.5rem;
}

.button img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.button:hover {
    background-color: #eceff1;
}

/*=========================*/

.container1 {
    position: relative; /* ทำให้ container เป็นจุดอ้างอิง */
    width: 40rem; /* ความกว้างของบล็อก */
    height: 18rem;
    background: #eceff1;
    color: #d50000;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem #eceff1;
    align-items: center;
    display: flex;
    justify-content: center;
}

input, select {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: 1px solid #d50000;
    background-color: #d50000;
    border-radius: 50px;
    font-size: 14px;
    
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #ff0000;
}

#result {
    font-size: 14px;
    color: #fff;
    width: 300px;
    padding: 10px;
    border: 1px solid #d50000;
    border-radius: 50px;
    background-color: #d50000;

}

.circle-image {
    width: 40px; /* กำหนดขนาดความกว้าง */
    height: 40px; /* กำหนดขนาดความสูง */
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    overflow: hidden; /* ซ่อนส่วนเกินของรูปภาพ */
    align-items: center;
    display: flexbox;
  }

  .circle-image img {
    width: 100%; /* ให้รูปภาพเต็มพื้นที่ */
    height: 100%; /* ให้รูปภาพเต็มพื้นที่ */
    object-fit: cover; /* ปรับให้รูปภาพแสดงเต็มโดยไม่ผิดสัดส่วน */
  }

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-weight: 0.9;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
.convert {
    font-size: 14px;
    color: #ffffff;
    width: 100px;
    padding: 10px;
    border: 1px solid #800000;
    border-radius: 50px;
    background-color: #800000;
    font-weight: bold;

}

