.bebas-neue {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-thai {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/*===========================================================*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/bg1.png);
}

.container {
    position: relative; /* ทำให้ container เป็นจุดอ้างอิง */
    width: 40rem; /* ความกว้างของบล็อก */
    height: 22.6rem;
    background: #664343;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem rgba(102, 31, 31, 0.25);
}

.head1 {
    color: #664343;
    padding:  0px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: none;
    border-radius: 10rem;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: 38.5rem;
}

.button img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.button:hover {
    background-color: #6b4b4b;
}

/*=========================*/

.container1 {
    position: relative; /* ทำให้ container เป็นจุดอ้างอิง */
    width: 40rem; /* ความกว้างของบล็อก */
    height: 18rem;
    background: #664343;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem rgba(102, 31, 31, 0.25);
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.circle-image {
    width: 37px; /* กำหนดขนาดความกว้าง */
    height: 37px; /* กำหนดขนาดความสูง */
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    overflow: hidden; /* ซ่อนส่วนเกินของรูปภาพ */
    align-items: center;
    display: flexbox;
  }

  .circle-image img {
    width: 100%; /* ให้รูปภาพเต็มพื้นที่ */
    height: 100%; /* ให้รูปภาพเต็มพื้นที่ */
    object-fit: cover; /* ปรับให้รูปภาพแสดงเต็มโดยไม่ผิดสัดส่วน */
  }